body {
    background-color: #79bfef;
    overflow-y: hidden;
    overflow-x: hidden;
}


.name {
    width: 80%; 
    height:200px; 
    position: fixed;
    
    text-align: center;
    
    top: 50%; 
    left: 50%; 
    
    margin-top: -100px; 
    margin-left: -40%;
    display: block;
    transition:all 0.3s ease;
}

h1, h2 {
    
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: white;
    font-size: 3.2em;
    font-weight: 700;
    
    line-height: 90%;
}

h2 {
    font-weight: 600;
    font-size: 1.5em;
}

.contact {
    position: relative;
    top: 20%;
    display: block;

}

.social {
    color: white;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;

    
}

.social:hover{
    color: #3b7ec1;
    transition:all 1s ease;
    
}



.circle {
    display: inline-block;
    text-align: center;
    padding: 10px;
    margin: 0 10px 0 10px;
    
    width: 50px;
    height: 50px;
    
    transform: scale(0.8);
    
    border-radius: 50%;
}

.circle:hover {
    background-color: white;
    transform: scale(1);
    transition:all 0.5s ease-out;

}

.fbcolor {
    color: #3b5998;
    transition:all 0.3s ease;
}

.twittercolor {
     color: #55acee;
    transition:all 0.3s ease;
}


.mailcolor {
    color: #dd4b39;
    transition:all 0.3s ease;
}

.grow {

    
        -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
    
    
}

@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}