.lefthill, .righthill {
    position: absolute;
    bottom: 0;
    height: 40%;
}

.lefthill {
    left: 0;
    -webkit-animation-delay: 0.5s;
    
}

.sun {
    background-color: #ffc033;
    width: 80px;
    height: 80px;
    
    position: absolute;
    top: 10%;
    right: 10%;
    
    border-radius: 50%;
    
    -webkit-animation-delay: 1.5s;
    
    
}

.righthill {
    right: 0;
    -webkit-animation-delay: 1s;
}


